<div class="login-form signup">
  {{data-validations placeholder='First Name' value=firstName type='text' errors=errors.firstName}}

  {{data-validations placeholder='Last Name' value=lastName type='text' errors=errors.lastName}}

  {{data-validations placeholder='Email' value=email type='text' errors=errors.email}}

  {{data-validations placeholder='Password' value=password type='password' icon=true errors=errors.password}} `

  <button class="button button-primary button-lg button-block"{{action 'signUp'}}>Sign Up</button>

</div>
